*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLite databases
*.sqlite

# Virtual environment
venv

# Images
*.jpg
*.png
*.jpeg
*.bmp
*.gif
*.JPG

# Audios
*.mp3

# Videos
*.mp4

# Custom files and directories
beampressk/static/css/chart.css
beampressk/static/css/jquery.jqplot.min.css
beampressk/static/css/prism.css
beampressk/static/js/Chart.js
beampressk/static/js/cssCharts/
beampressk/static/js/jqplot/
beampressk/static/js/jquery-migrate-1.2.1.js
beampressk/static/js/prism.js
beampressk/templates/amistad/
beampressk/templates/computadora/
beampressk/templates/darwin/
beampressk/templates/instec/
beampressk/templates/jce/
beampressk/templates/miercoles-de-sonrisas/
beampressk/templates/pasteur/
beampressk/templates/percepcion/

