{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/powerange.min.css') }}" />
{% endblock %}
{% block page_content %}

<!--   <div class="bs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">1</a></li>
    </ul>
	<div class="tab-content">
	   <div class="tab-pane fade in active"> -->
	   		<div class="panel panel-default">
	  			<div class="panel-heading">{{ name }}</div>
				<div class="btn-group btn-group-justified">
				  <a id="prev" style="height: 150px;" class="btn btn-default" role="button">Prev</a>
				  <a id="next" class="btn btn-default" role="button">Next</a>
				</div>
				<div class="panel-footer">
					<p id="log">
						<b>FRAME: </b>{{ current_frame + 1 }}<br>
						<b>SLIDE: </b>{{ current_slide }}
					</p>
				</div>
			</div>

			<form action="" role="form">
				<div class="btn-group btn-group-justified">
				  <a id="live-feed" style="height: 75px;" class="btn btn-default" role="button">Live Feed</a>
				  <!-- <a id="reload" class="btn btn-default" role="button">Reload</a> -->
				  <a id="hide-msg" class="btn btn-default" role="button">Hide msg</a>
				</div>					
				<div class="form-group">
					<label for="volume-range">Volume: </label>
					<input id="volume-range" type="text" class="js-decimal" />
				</div>
			</form>
<!-- 	   </div>
	</div>    
  </div> -->

{% endblock %}

{% block scripts %}
{{ super() }}
<script type='application/javascript' src="{{ url_for('static', filename = 'js/fastclick.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/powerange.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/socket.io.min.js') }}"></script>

<script>
	$(document).ready(function(){
		$(function() {
		    FastClick.attach(document.body);
		});		
	    var socket = io.connect('http://' + document.domain + ':' + location.port + '/beampressk');
	    socket.on('response', function(msg) {
	        $('#log').html('<p><b>FRAME: </b>' + (msg.data.currentFrame + 1) + '<br><b>SLIDE: </b>' + msg.data.currentSlide + '</p>');
	    });    
	    $('#next').on('click', function(event) {
	        socket.emit('next');
	        event.preventDefault();
	    });
	    $('#prev').on('click', function(event) {
	        socket.emit('prev');
	        event.preventDefault();
	    });
	    $('#live-feed').on('click', function(event) {
	        socket.emit('live_feed', {data: '1'});
	        event.preventDefault();
	    });
	    $('#reload').on('click', function(event) {
	        socket.emit('reload');
	        event.preventDefault();
	    });
	    $('#hide-msg').on('click', function(event) {
	        socket.emit('hide_msg');
	        event.preventDefault();
	    });	 


		var vol = document.querySelector('#volume-range');
	    var initDec = new Powerange(vol, {hideRange: true, callback: setVolume, decimal: true, min: 0, max: 100, start: {{ volume }} });		    
	    function setVolume(){
	    	var v = vol.value * 1e-2;
	    	socket.emit('volume', {data: v});
	    }

        socket.on('volume_response', function(msg) {
            vol.value = msg.data * 1e2;
        });	    
	});
</script>
{% endblock %}
