.msg-container {
    display: none;
    position: fixed;
    top: 53px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 500px; 
    /*height: 375px;*/
    /*background: rgb(249, 229, 229);*/
    z-index: 9999;
    /*-webkit-box-shadow: 1px 2px 45px 2px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 1px 2px 45px 2px rgba(0,0,0,0.75);*/
    /*box-shadow: 1px 2px 45px 2px rgba(0,0,0,0.75);*/
    line-height: 36px;
    letter-spacing: 1px;
    font-family: candara, sans-serif;
    color: black;
    font-size: 28px;
    padding: 5px 15px;    
}

#msg-text{
    margin:0;
}

.chat{
/*  font:12px Trebuchet MS;
  min-width:300px;
  width:300px;*/
  margin:auto auto;
}


.chat ul{
  margin:0;
  padding:0;
  /*border-bottom:2px solid #9c9c9c;*/
  padding-bottom:15px;
  margin-bottom:15px;
}

.msg-effect {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    opacity: 0;
}

.msg-show.msg-effect{
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    border-radius: 0 0 3px 3px;
    opacity: 1;
}

.chat ul li{
  width:100%;
  list-style-type:none;
  margin:5px 0;
  position:relative;
  display:inline-block;

  
}

.chat ul li img{
  float:left;
   border-radius:50px;
  box-shadow:0 2px 15px rgba(0,0,0,.5);
}
.chat ul li .message{
  margin-left:90px;
  background:blue;
  position:relative;
  min-height:25px;
  margin-top:20px;
  padding:10px;
  box-sizing:border-box;
   
}


.chat ul li:nth-child(odd) img{
  float:right;
}

.chat ul li:nth-child(odd) .message{
  margin-right:90px;
  margin-left:0;
  background:#def1ff;
}



.chat ul li:nth-child(even) .message{
  background:#daffb1;
}




.chat ul li:nth-child(odd) .message:before{
  content:"";
  width:0px;
  height:0px;
  position:absolute;
  right:0;
  top:0;
  margin-right:-15px;
  border-top:15px solid #def1ff;
  border-right:15px solid transparent;
}
.chat ul li:nth-child(even) .message:before{
  content:"";
  width:0px;
  height:0px;
  position:absolute;
  left:0;
  top:0;
  margin-left:-15px;
  border-top:15px solid #daffb1;
  border-left:15px solid transparent;
}